{% extends "base/base.html" %}

{% block title %}游戏预告详情{% endblock %}

{% block user %}{{user.last_name}}{{user.first_name}}{% endblock %}

{% block content %}

    <div class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <table class="table table-bordered">
                                <th style="width: 20%">基本信息</th>
                                <th style="width: 80%">内容</th>
                                <tbody>
                                <tr>
                                    <td>游戏显示名</td>
                                    <td><input type="text" id="display_name" value="{%if info.display_name%}{{ info.display_name }}{%else%}{{''}}{%endif%}" /></td>
                                </tr>
                                <tr>
                                    <td>游戏状态</td>
                                    {% ifequal info.game_status 3 %}
                                    <td>
                                        <input type="radio" style="width:5%;" name="game_status" value="3"{% ifequal info.game_status 3 %}{{ "checked" }}{%　endifequal %}>已上线</input>
                                    </td>
                                    {% else %}
                                    <td>
                                        <input type="radio" style="width:5%;" name="game_status" value="1" {% ifequal info.game_status 1 %}{{ "checked" }}{% endifequal %}>预告</input>
                                        <input type="radio" style="width:5%;" name="game_status" value="2"{% ifequal info.game_status 2 %}{{ "checked" }}{% endifequal %}>取消预告</input>
                                        <input type="radio" style="width:5%;" name="game_status" value="3"{% ifequal info.game_status 3 %}{{ "checked" }}{%　endifequal %}>已上线</input>
                                            </td>
                                        {% endifequal %}
                                </tr>
                                {% if info.label_id %}
                                    <tr>
                                        <td>对应线上游戏ID</td>
                                        <td><a id="label_id" href="/gg_mgmt/game/detail/?game_id={{ info.label_id }}" value="{{ info.label_id }}">{{ info.label_name }}</a></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>游戏ID</td>
                                    <td><input type="text" id="game_id" value="{% if info.game_id %}{{ info.game_id }}{% else %}{{ '' }}{% endif %}" ></td>
                                </tr>
                                <tr>
                                    <td>语言</td>
                                    <td><input type="text" id="game_language" value="{%if info.game_language%}{{ info.game_language }}{%else%}{{''}}{%endif%}" /></td>
                                </tr>
                                <tr>
                                    <td>游戏厂商</td>
                                    <td><input type="text" id="developer" value="{%if info.developer %}{{ info.developer }}{%else%}{{''}}{%endif%}" /></td>
                                </tr>
                                <tr>
                                    <td>类型</td>
                                    <td>
                                        {% for category in categorys %}
                                            <input type="checkbox" name="category_ids" style="width:5%;" value="{{ category.id }}" {% for category_id in info.category_ids %}{% ifequal category_id category.id %}{{ "checked" }}{% endifequal %}{% endfor %}>{{ category.name }}</input>
                                        {% endfor %}
                                    </td>
                                </tr>
                                {% if info.game_id %}
                                    <tr>
                                        <td>ICON</td>
                                        <td><img style="width:75px;height:75px;" src="{{ info.icon_url }}">
                                            <input type="text" style="width:74%;" id="icon_url" value="{{ info.icon_url }}" style=""></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>ICON</td>
                                        <td><input type="text" style="width:74%;" id="icon_url" value="{{ info.icon_url }}" style=""></td>
                                    </tr>
                                {% endif %}
                                {% if info.tid %}
                                    <tr>
                                        <td>论坛链接</td>
                                        <td><a id="pkg-post_url" href="http://www.ggzs.me/{{ info.post_url }}">http://www.ggzs.me/{{ info.post_url }}</a></td>
                                    </tr>
                                {% endif %}
                                {% if info.game_id %}
                                    <tr>
                                        <td>Banner</td>
                                        <td><img src="{{ info.banner_url }}">
                                            <input type="text" style="width:74%;" id="banner_url"
                                                   value="{% if info.banner_url %}{{ info.banner_url }}{% else %}{{ '' }}{% endif %}" style=""></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>Banner</td>
                                        <td><input type="text" style="width:74%;"
                                                   id="banner_url" value="{{ info.banner_url }}" style=""></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>简单描述</td>
                                    <td><textarea style="width:80%;height:30px;" id="short_desc" rows="12" cols="140" class="required" tabindex="4">{%if info.short_desc%}{{ info.short_desc }}{%else%}{{''}}{%endif%}</textarea></td>
                                </tr>
                                <!--tr>
                            <td>详细描述(html)</td>
                            <td><textarea name="ckeditor_detail_desc_html">{% if info.detail_desc_html %}{{ info.detail_desc_html }}{% endif %}</textarea></td>
                        </tr-->
                                <tr>
                                    <td>详细描述(text)</td>
                                    <td><textarea style="width:80%;height:500px;" id="detail_desc" rows="12" cols="140" class="required" tabindex="4">{{ info.detail_desc }}</textarea></td>
                                </tr>
                                {% if info.screen_shot_urlss %}
                                    <tr>
                                        <td>
                                            {% ifequal perm_name '可编辑用户' %}
                                                <p>截图</p><input style="float:left;margin-top:100px;margin-left:2px;" type="button" id="addScreen" value="新增截图" class="submit_button"></input>
                                            {% endifequal %}
                                            <p>截图</p><input style="float:left;margin-top:100px;margin-left:2px;" type="button" id="addScreen" value="新增截图" class="submit_button"></input>
                                        </td>
                                        <td>
                                            {% for screen_shot_url in screen_shot_urls %}
                                                <span style="position: relative;">
                                                    <img class="screen_shot_url" id="{{ screen_shot_url.num }}IMG" alt="{{ screen_shot_url.num }}" style="width:195px;height:276px;margin-left:10px;margin-top:10px" src="{{ screen_shot_url.url }}" onclick="previewPhoto('{{ screen_shot_url.num }}');" onmouseover="showDeleteDiv('{{ screen_shot_url.num }}');" onmouseout="imgOnmouseout(),hideDeleteDiv('{{ screen_shot_url.num }}');"></input>
                                                </span>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>截图</td>
                                        <td><textarea style="width:80%;"
                                                      id="screen_shot_urls" rows="5" cols="140"
                                                      class="required" tabindex="4">{{ info.screen_shot_urls }}</textarea></td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>预测发布时间</td>
                                    <td>
                                        <input type="text" id="predict_time" value="{{ info.predict_time }}" onclick="SelectDate(this,'yyyyMMdd')"></input>
                                    </td>
                                </tr>
                                <tr>
                                    {% ifequal perm_name '可编辑用户' %}
                                        <td><input
                                                style="width:140px;background:#0099ff;color:#ffffff"
                                                type="button" id="game_predict" onclick="save_game()" value="确定修改预告游戏信息"></td>
                                    {% endifequal %}
                                    <td><input
                                            style="width:140px;background:#0099ff;color:#ffffff"
                                            type="button" id="game_predict" onclick="save_game()" value="确定修改预告游戏信息"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </section>
    </div><!-- /.content-wrapper -->

{% endblock %}
{% block extrajs %}
    <script type="text/javascript">
        $("#add_game_predict").change(function(){
            window.location.href = "{% url 'add_game_predict' %}";
        });
        var ckeditor_detail_desc_html = CKEDITOR.replace('ckeditor_detail_desc_html');
        function save_game(){
            var game_id = $("#game_id").val();
            var display_name = $("#display_name").val();
            var game_status = "";
            $('input[type="radio"][name="game_status"]:checked').each(function(){
                game_status = $(this).val();
            });
            var game_language = $("#game_language").val();
            var developer = $("#developer").val();
            var category_ids = "";
            $('input[type="checkbox"][name="category_ids"]:checked').each(function(){
                category_ids = category_ids + $(this).val() + ",";
            });
            if (category_ids.length > 0){
                category_ids = category_ids.substr(0, category_ids.length - 1);
            }
            var icon_url = $("#icon_url").val();
            var banner_url = $("#banner_url").val();
            var short_desc = $("#short_desc").val();
            var detail_desc = $("#detail_desc").val();
            var screen_shot_urls = $("#screen_shot_urls").val();
            var predict_time = $("#predict_time").val();
            var label_id = $("#label_id").attr("value");
//    var detail_desc_html = ckeditor_detail_desc_html.document.getBody().getHtml();
            if (game_status == 3 && label_id == null){
                label_id = prompt('情输入对应上线的游戏ID:')
            }
            var descJson = {}
            descJson['game_id'] = game_id;
            descJson['display_name'] = display_name;
            descJson['game_status'] = game_status;
            descJson['game_language'] = game_language;
            descJson['developer'] = developer;
            descJson['category_ids'] = category_ids;
            descJson['icon_url'] = icon_url;
            descJson['banner_url'] = banner_url;
            descJson['short_desc'] = short_desc;
            descJson['detail_desc'] = detail_desc;
            descJson['screen_shot_urls'] = screen_shot_urls;
            descJson['predict_time'] = predict_time;
            descJson['label_id'] = label_id;
//    descJson['detail_desc_html'] = detail_desc_html;
//    alert(JSON.stringify(descJson));
            if (display_name && game_status && icon_url && short_desc && predict_time) {
                $.post('/gg_mgmt/game/predict/save/', descJson, function(result){
                    window.location.href = '/gg_mgmt/game/predict/info/';
                });
            } else {
                alert('请完整填写游戏预告信息！！！');
            }
        }
    </script>
    <script type="text/javascript" src="/gg_mgmt/static/js/adddate.js" ></script>
{% endblock %}