{% extends "header.html" %}

{% block title %}GooglePlay游戏资料{% endblock %}

{% block user %}{{user.last_name}}{{user.first_name}}{% endblock %}

{% block content %}

    <aside class="side">

        <!-- Main content -->

        <section class="content">
            <div class="col-md-10">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>APK信息</td>
                            <td><textarea style="width:80%;" id="game_json" rows="12" cols="140" class="required" tabindex="4"></textarea></td>
                        </tr>
                        <tr>
                            <td>百度下载链接</td>
                            <td><input style="width:80%" type="text" id="baidu_url"/></td>
                        </tr>
                        <tr id="detail">
                            <!--td>GooglePlay市场的游戏<font style="font-size:20px;color:red">包名</font></td-->
                            <td>详情页地址(APK信息中的pkg_name在google游戏商店找不到时需填写)</td>
                            <td>https://play.google.com/store/apps/details?id=<input style="width:" type="text" id="detail_url"/></td>
                        </tr>
                        <tr>
                            <td>游戏更新说明</td>
                            <td><input style="width:80%" type="text" id="update_desc"/></td>
                        </tr>
                        <!--tr>
                            <td>游戏渠道</td>
                            <td>
                            <select id="channel" style="width:150px">
                            <option value="GG官方" selected="selected">GG官方</option>
                            <option value="高通版">高通版</option>
                            <option value="英伟达">英伟达</option>
                            <option value="PowerVR">PowerVR</option>
                            <option value="Mali">Mali</option>
                            <option value="samsung">samsung</option>
                            </select>
                            </td>
                        </tr-->
                        <tr>
                            {% ifequal perm_name '可编辑用户' %}
                            <td><input style="width:140px;background:#0099ff;color:#ffffff" type="button" id="addGoogleGame" value="上传GooglePlay游戏"></td>
                            {% endifequal %}
                            {% ifequal user.is_superuser 1 %}
                            <td><input style="width:140px;background:#0099ff;color:#ffffff" type="button" id="addGoogleGame" value="上传GooglePlay游戏"></td>
                            {% endifequal %}
                        </tr>
                    </tbody>
                </table>
            </div>

    </aside><!-- /.right-side -->

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$("#channel").change(function(){ 
//    var channel = $("#channel").val();
 //   if (channel != 'GG官方' ){
  //      $("#detail").show();
   // }
//    if (channel == 'GG官方'){
//        $("#detail").hide();
 //   }
});
$("#addGoogleGame").click(function(){
    var game_json = $("#game_json").val();
    var baidu_url = $("#baidu_url").val();
    var detail_url = $("#detail_url").val();
    var channel = $("#channel").val();
    var update_desc = $("#update_desc").val();
    var descJson = {};
    descJson['game_json'] = game_json;
    descJson['baidu_url'] = baidu_url;
    descJson['channel'] = channel;
    descJson['detail_url'] = detail_url;
    descJson['update_desc'] = update_desc;
//        alert(JSON.stringify(descJson));
    if(game_json && baidu_url){
        $("#addGoogleGame").css("visibility", "hidden");
        $.post('/gg_mgmt/uploadGame/addGoogleGame/', descJson, function(result){
            window.location.href = '/gg_mgmt/prompt/?msg='+result;
        });
    }else{
        alert("请输入游戏资料！！！");
    }
});
</script>
{% endblock %}
